@import url(https://fonts.googleapis.com/css?family=JetBrains+Mono);
body {
  background-color: #2b2e32;
  font-family: "JetBrains Mono", cyrillic-ext;
  color: white;
}
.center {
  margin: 0;
  position: absolute;
  top: 10%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.center2 {
  margin: 0;
  position: absolute;
  top: 0%;
}

/* a.nav-link:link {
  color: #e6e346;
  text-decoration: none;
}
a.nav-link:visited {
  color: #e6e346;
  text-decoration: none;
}
a.nav-link:hover {
  color: #fb3f00;
  text-decoration: none;
}
a.nav-link:active {
  color: #e6e346;
  text-decoration: none;
} */

.logo {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav {
  overflow: hidden;
  background-color: rgb(95, 95, 95);
}

.menubar {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #fb3f00;
  color: white;
}
